@import url('https://fonts.googleapis.com/css?family=El+Messiri|Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
}

.header-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    font-family: 'El Messiri';
    justify-content: center;
    margin-top: 10px;
}

.form {
    font-size: 0.9rem;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #efefef;
}

.btn-login,
.btn-google,
.btn-register,
.btn-back,
.btn-send,
.btn-back-password,
.btn-sign-out,
.btn-posting {
    width: 87%;
    height: 50px;
    padding: 6px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #efefef;
    background: #B52C72;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

a {
    cursor: pointer;
    color: #B52C72;
}

footer {
    font-family: 'El Messiri';
    display: flex;
    justify-content: center;
}

.first-screen {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    font-family: 'El Messiri';
}

.container-login {
    max-width: 350px;
    border: 1px solid #e6e6e6;
    width: 100%;
    background-color: #fff;
}

.content-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.footer-login {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-user {
    width: 40px;
    height: 40px
}

.logo-login {
    max-width: 50px;
    width: 100%;
    height: 50px;
}

textarea {
    width: 80%;
    height: 70px;
    padding: 6px;
    margin: 10px 0;
    border-radius: 4px;
    border: 2px solid #efefef;
    cursor: pointer;
}